.button {
  /* display: block; */
  padding: 10px 20px;
  /* font-family: A; */
  font-size: 16px;
  cursor: pointer;
  background-color: blueviolet;
  color: #fff;
  border: 0px;
  margin-top: 8px;
}
