@import '../../../scss/variables.scss';

.Messenger {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  background-color: $white;
  border-radius: 5px;
  color: $primaryFontColor;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: $accentColor;
    color: $secondaryFontColor;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  &__title {
    flex-grow: 1;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 500;
  }
  &__sound-button {
    justify-self: right;
    background-color: transparent;
    border: 0px;
    width: 30px;
    cursor: pointer;
    svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      fill: $secondaryFontColor;
    }
  }
  &__loader {
    display: flex;
    padding: 20px;
    justify-content: center;
  }
  &__footer {
    padding-bottom: 10px;
  }
  &__list {
    max-height: 560px;
    min-height: 360px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    &-filler {
      flex-grow: 1;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: $light;
    }
    &::-webkit-scrollbar {
      width: 8px;
      background-color: $light;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: $lightOnHover;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $accentColor;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: $accentOnHover;
    }
    * {
      overflow-anchor: none;
    }
  }
}
