@import '../../../scss/variables.scss';

.message {
  text-align: left;
  background: $light;
  margin: 4px;
  padding: 6px;
  border-radius: 4px;
  overflow: hidden;
  &__user {
    font-weight: 800;
    margin-bottom: 0.4em;
  }
  &__time {
    font-weight: normal;
    padding-left: 5px;
  }
}
