.form {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  /* border-right: 3px solid blueviolet; */
  flex-direction: column;
}

@media (min-width: 400px) {
  .form {
    flex-direction: row;
  }
}
