$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$primaryFontColor: #1a1b1d;
$secondaryFontColor: #f9f9f9;
$accentColor: #8a2be2;
$accentOnHover: #923dde;
$dark: #282c34;
$light: #ecf0f1;
$lightOnHover: #f9f9f9;
$white: #fff;
$errorColor: #cc0000;
